body {
  background-color: black;
}

h1 {
     color: yellow;
     text-align: center;
}

p {
  color: dodgerblue;
  margin-left: 40px;
}

margin-left{margin-left:16px!important}margin-right{margin-right:16px!important}
