body {
  background-color: black;
  border-left: 150px solid white;
  border-right: 150px solid white;
}

h1 {
     color: yellow;
     text-align: center;
}

p {
  color: dodgerblue;
  margin-left: 40px;
}
